<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome To Tourism Camp Ground</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam
      repudiandae doloribus nisi impedit ab asperiores iure numquam modi.
      Ratione incidunt dolorem error labore qui possimus sequi, doloribus alias
      sint maiores perferendis odit id obcaecati porro quasi voluptatibus nisi
      aperiam sed, dolore dolor beatae quo quae!
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod minima
      sapiente commodi itaque ipsam quaerat illo, in aperiam deserunt ad illum
      saepe rerum fugit harum obcaecati fuga incidunt amet mollitia totam cumque
      neque vero. Ipsum autem ipsa, ut itaque non nostrum reiciendis vitae iure
      modi maxime tempore provident molestiae harum nisi quidem quasi nam odit!
    </p>
    <br />
    <form action="/campgrounds">
      <button>Index Page</button>
    </form>
  </body>
</html>
